@import-normalize;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-100: #00ab55;
  --green-200: #007b55;
  --blue-100: #d0f2fe;
  --blue-200: #04297a;
  --gray: #637381;
  --black: #212b36;
}
